In [1]:
a="omkar"
b=[1,2,3,4,"omkar","india"]
c=21.23
d=('omkar',2,3,22.34)

In [4]:
print (a)
print (b)
print (c)
print (d)

omkar
[1, 2, 3, 4, 'omkar', 'india']
21.23
('omkar', 2, 3, 22.34)

In [15]:
var1=''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4=1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [8]:

print(' Q3. Explain the use of the following operators using an example: ')

 Q3. Explain the use of the following operators using an example:

In [9]:
a=2/2

In [10]:
a

1.0

In [ ]:
it division operator it gives multiples

In [11]:
a=2%2

In [12]:
print(a)

0

In [14]:
print('it gives remainder it is called mod operator')

it gives remainder it is called mod operator

In [20]:
a=12//5
print(a)
print('the floor division // rounds the result down to the nearest whole number')

2
the floor division // rounds the result down to the nearest whole number

In [25]:
a=2**5
print(a)
print('exponential operator work as exponent of number such as squareroot')

32
exponential operator work as exponent of number such as squareroot

In [10]:
print('Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type')
l=['omkar',1,2.23,1j,['a','omkar',1,2],('a','omk',2,2.25),bool(5),range(6),dict(name="omkar", age=26),set(("apple", "banana", "cherry"))]
for i in l:
    print(i) 
    print(type(i))

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type
omkar
<class 'str'>
1
<class 'int'>
2.23
<class 'float'>
1j
<class 'complex'>
['a', 'omkar', 1, 2]
<class 'list'>
('a', 'omk', 2, 2.25)
<class 'tuple'>
True
<class 'bool'>
range(0, 6)
<class 'range'>
{'name': 'omkar', 'age': 26}
<class 'dict'>
{'apple', 'banana', 'cherry'}
<class 'set'>

In [12]:
print(' Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.')

 Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
a=10
b=2
count=0
while a%b==0:
        a=a//b
        count=count+1
        print(a)
print('Not divisible')

5
Not divisible

In [5]:
print('Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.')
l=[1,2,3,34,9,5,6,8,20,55,33,44,45,30,1,2,3,4,5,6,7,8,33]
for i in l:
    if i%3==0:
        print(i)

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
3
9
6
33
45
30
3
6
33

In [19]:
print('Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property')
print(' Mutable  data type are those data type whose value are chegeable while immutable are those where value when asiigned cannot be changes')
l=[1,2.4,'omkar']
l.append('om')
print(l)
print('it allows you  to element to list so its muttable')
l[0]=2
print(l)
l[2]='om'
print(l)
print('immutable example')
tup = ([3, 4, 5], 'myname') 
tup[1]='omk'

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property
 Mutable  data type are those data type whose value are chegeable while immutable are those where value when asiigned cannot be changes
[1, 2.4, 'omkar', 'om']
it allows you  to element to list so its muttable
[2, 2.4, 'omkar', 'om']
[2, 2.4, 'om', 'om']
immutable example

TypeError: 'tuple' object does not support item assignment